version: "3.8"
services:
  komga:
    image: "gotson/komga:1.11.0"
    container_name: "komga"
    user: "${UID}:${GID}"
    environment:
      - "TZ=${TZ}"
      - "JAVA_TOOL_OPTIONS=-Xmx${RAM_LIMIT}"
    volumes:
      - "${CONFIG_PATH}:/config"
      - "${DATA_PATH}:/data"
    ports:
      - "${PORT}:25600"
    restart: "unless-stopped"
