version: "3.8"
services:
  homeassistant:
    image: "linuxserver/homeassistant:2024.4.1"
    container_name: "homeassistant"
    environment:
      - "PUID=${PUID}"
      - "PGID=${PGID}"
      - "TZ=${TZ}"
    network_mode: "host"
    volumes:
      - "${CONFIG_PATH}:/config"
    restart: "unless-stopped"
